

header {
    background-color: royalblue;
    background-image: url("img/pattern.png");
    height: 180px;
}

th {
    background-color: blue;
}

.logo {
    height: 50px;
    margin-top: 110px;
    margin-left: 10px;
}

#Main-title {
    font-size: 60px;
    margin-bottom: 0px;
}

#color {
    color: rgb(107, 185, 236);
}

.credit {
    margin-top: 1px;
    margin-left: 9px;
    font-size: 17px;
    color: grey;
}

.marginphoto {
    margin-top: 20px;
}

.marginbottom {
    margin-bottom: 30px;
}

th {
    background-color: rgb(4, 74, 121);
    color: white;
}

table {
    text-align: left;
}

th {
    padding-right: 130px;
}

/* td {
    text-align: center;
    margin-right: 600px;
} */

.colortable {
    background-color: rgb(3, 141, 146);
}

.evidence {
    background-color: #FFFF00;
}