

header {
    background-color: royalblue;
    background-image: url("img/pattern.png");
    height: 180px;
}

.logo {
    height: 50px;
    margin-top: 110px;
    margin-left: 10px;
}

#Main-title {
    font-size: 60px;
    margin-bottom: 0px;
}

#color {
    color: rgb(107, 185, 236);
}

.credit {
    margin-top: 1px;
    margin-left: 9px;
    font-size: 17px;
    color: grey;
}

.marginphoto {
    margin-top: 20px;
}

.marginbottom {
    margin-bottom: 30px;
}